{% extends 'base.html' %} {% block content %}

<h1 style="font-family: Cinzel; text-align: center; color: rgb(121, 64, 233)">
  Welcome Home Vighnesh!
</h1>
<br />
<div class="icon" style="text-align: center; font-family: cinzel">
  {%if api%} {% if api.cod == 200 %}
  <img
    src="http://openweathermap.org/img/wn/{{api.weather.0.icon}}.png"
    alt="weathericon"
  />
  <h1>{{api.name}}</h1>
  <h1>{{api.weather.0.description}}</h1>

  <h5>Country Code: {{api.sys.country}}</h5>
  <h5>Temperature: {{api.main.temp}}°C</h5>
</div>
{% else %}
<h1
  style="
    color: rgb(238, 153, 153);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 100px;
  "
>
  Error Occured. Please try again
</h1>
{% endif %} {%endif%}
<br /><br />
{% endblock %}
